*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Москва;
    box-sizing: border-box;
}

body{
    background: url(media/фон2.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.слойДокумента{
    color: white;
    text-align: center;
    max-width: 600px;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    background: rgba(128, 204, 255, 0.2);
    backdrop-filter: blur(3px);
    margin: 0 auto;
}
.спонсорры{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
    padding: 5px;
    background-color: rgb(61, 61, 61);
}
.спонсорры img{
    width: 100px;
}
header{
    margin: 20px 0;
}
.эмблема{
    width: 160px;
}
h1{
    margin: 20px 0;
    font-size: 35px;
}
.вход{
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.учет{
    display: none;
    border-radius: 7px;
    color: white;
    width: 100%;
    background: #616161;
    border: none;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    height: 25px;

}
.списокЗаписей{
    margin-top: 30px;
}
.записи{
    text-align: left;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin-bottom: 15px;
}
.отмечено{
    opacity: 0.5;
}
.ФИО{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}
.команды{
    display: flex;
}
.команды button{
    width: 50%;
}
.депортация,.доебаться{
    border: 1px solid rgb(27, 27, 27);
    height: 20px;
    cursor: pointer;
}
.доебаться{
    border-left: none;
    border-bottom: none;
}
.депортация{
    border-right: none;
    border-bottom: none;
}

@media(max-width: 900px){
    .спонсорры{
        z-index: 10;
        left: auto;
        right: 5px;
    }
    .спонсорры img{
        width: 60px;
    }
    
}

@font-face{
    font-family: Москва;
    src: url('media/Москва.ttf')
}